.bigTitleStyle {
    font-size: 40px;
    font-weight: bold;
    color: lightgray;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    @media (max-width: 1100px) {
        font-size: 34px;
        justify-content: left;
    }
}

.spanStyle {
    text-align: center;
    @media (max-width: 1100px) {
        text-align: left;
    }
}

.midTitleStyle {
    font-size: 30px;
    font-weight: bold;
    color: lightgray;
    padding: 0 0 16px;
    @media (max-width: 768px) {
        font-size: 22px;
    }
}

.smallTitleStyle {
    font-size: 20px;
    font-weight: bold;
    color: lightgray;
    padding: 16px 0;
    @media (max-width: 768px) {
        font-size: 15px;
    }
}
