.teamStyle {
    display: flex;
    flex-direction: column;
    min-width: 3.75rem;
    align-items: center;
    text-align: center;
}

.imageStyle {
    width: 75px;
    height: 75px;
    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
}

.imageDetailStyle {
    width: 100px;
    height: 100px;
    @media (max-width: 768px) {
        width: 75px;
        height: 75px;
    }
}

.titleStyle {
    font-size: 16px;
    color: lightgray;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.titleDetailStyle {
    font-size: 20px;
    color: lightgray;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 17px;
    }
}
