.tableStyle {
    display: block;
    background-color: transparent;
    height: 330px;
    text-align: center;
    justify-content: center;
    overflow: auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        overflow: auto;
    }
}
