.grid {
    list-style-type: none;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    flex-wrap: wrap;
    justify-content: left;
    margin-top: 32px;
    margin-right: 6rem;
    width: 40%
}

.goalsPerGameDiv {
    height: 382.5px;
    width: 100%;
    margin-bottom: 18px;
    background-color: rgb(36, 36, 36);
    padding: 30px;
    border-radius: 25px;
}

.goalsPerGameChart {
    background-color: rgb(36, 36, 36);
}
