.grid {
    list-style-type: none;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    width: 100%;
    margin-left: 14%;
    margin-right: 14%;

}

.goalsPerGameDiv {
    height: 382.5px;
    width: 48%;
    margin-bottom: 50px;
    background-color: rgb(36, 36, 36);
    padding: 30px;
    border-radius: 25px;
}

.goalsPerGameChart {
    background-color: rgb(36, 36, 36);
}
