.grid {
    margin-left: 14%;
    margin-right: 14%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    @media screen and (max-width: 600px) {
        margin-left: 3%;
        margin-right: 3%;
    }
}

.chart {
    background-color: rgb(36, 36, 36);
}

.select {
    background-color: #404040;
    color: lightgray;
    margin-left: 30px;
    border-color: #404040;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 16px;
}

.titleStyle {
    background-color: rgb(36, 36, 36);
    color: lightgray;
    text-align: center;
    margin-top: 20px
}

.selectionGrid {
    background-color: rgb(36, 36, 36);
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.selectionInsideGrid {
    background-color: rgb(36, 36, 36);
    color: lightgray;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.colorStyle {
    background-color: rgb(36, 36, 36);
    color: lightgray;
}