/* Parent container for the popup */
.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popup horizontally and vertically */
    background-color: #404040;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Adding a shadow effect */
    width: 50%; /* Set the maximum width to half of the screen */
    height: 50%; /* Set the maximum width to half of the screen */

}

/* Style for the close button inside the popup */
.popupCloseButton {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    z-index: 10;
    border: none;
    padding: 10px 24px;
    background: #404040;
    color: black;
}

.popupCloseButton:hover {
    color: white;
}
