.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #252525;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    overflow: auto;
    z-index: 12;
    @media (max-width: 600px) {
        width: 100%;
        border-radius: 0;
        height: 100%;
        background-color: black;
    }
    @media (min-width: 601px) and (max-width: 767px) {
        width: 100%;
        border-radius: 0;
        height: 100%;
        background-color: black;
    }
    @media (min-width: 768px) and (max-width: 900px) {
        width: 100%;
        border-radius: 0;
        height: 100%;
        background-color: black;
    }
    @media (min-width: 901px) and (max-width: 1500px) {
        min-width: 600px;
        width: 600px;
        max-width: 600px;
        height: 80%;
        max-height: 800px;
    }
    @media (min-width: 1501px) {
        min-width: 600px;
        width: 600px;
        max-width: 600px;
        height: 80%;
        max-height: 800px;
    }
}

.scoreboard {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0;
    min-width: 0;
    background-color: #1C1C1E;
    @media (max-width: 900px) {
        padding: 20px 30px 10px;
        background-color: black;
    }
}

.scoreboardInsideDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 900px) {
        min-width: 0;
        margin-top: 50px;
    }
}

.score {
    text-align: center;
}

.playerGoalsDiv {
    margin-top: 30px;
    @media (max-width: 768px) {
        margin-top: 20px;
    }
}

.goalNames {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 16px;
    min-width: 572px;
    margin: 10px;
    @media (max-width: 768px) {
        min-width: 0;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}

.goalScorerName {
    color: lightgray;
    margin-right: 10px;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.goalScorerGrid {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.goalImage {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    @media (max-width: 768px) {
        width: 15px;
        height: 15px;
    }
}

.buttonStyle {
    background: darkred;
    font-size: 14px;
    border-radius: 16px;
    color: lightgray;
    border: none;
    padding: 10px 25px 10px 25px;
}

.buttonBorderStyle {
    display: flex;
    background: transparent;
    font-size: 14px;
    margin: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.divStyle2 {
    display: flex;
    background: #404040;
    justify-content: space-between;
    width: 100%;
}

.generalTabSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background: #1C1C1E;
    margin: 20px 10px;

}

.squadSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background: #1C1C1E;
    margin: 20px;

}

.linksSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background: #323232;
    margin: 0 20px 20px 20px;
}

.lastLinksSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background: #323232;
    margin: 0 20px 20px 20px;

}

.firstLinksSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background: #323232;
    margin: 20px;
}

.generalInfoDiv {
    display: flex;
    align-items: center;
    margin: 10px;
}

.generalInfoDivAccordion {
    display: flex;
    align-items: center;
}

.urlInfoDiv {
    display: flex;
    align-items: center;
    margin: 10px;
}

.generalInfoSpanCursor {
    margin-left: 10px;
    font-size: 18px;
    color: lightgray;
    cursor: pointer;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.generalInfoSpan {
    margin-left: 10px;
    font-size: 18px;
    color: lightgray;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.squadTitleSpan {
    font-size: 18px;
    color: lightgray;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.generalInfoIcon {
    color: white;
}

.squadIcon {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.pitchStyleDiv {
    border-radius: 16px;
    padding: 10px;
    margin: 20px;
    background: green;
}

.generalTabDiv {
    margin: 10px;
}

.title {
    color: lightgray;
    margin-bottom: 10px;
}

.urlStyle {
    margin: 30px;
}

.mapsButtons {
    align-items: center;
    background-color: #2e2e2e;
    border: 1px solid #4d4d4d;
    border-radius: 500px;
    box-shadow: rgba(255 255 255 / 5%) -3px -3px 30px -1px,rgba(0 0 0 / 40%) 2px 3px 10px -2px,rgba(0 0 0 / 40%) 1px 2px 3px -1px;
    color: #dedede;
    cursor: pointer;
    display: flex;
    font-family: arial,helvetica,sans-serif;
    font-size: .88em;
    font-weight: 600;
    justify-content: center;
    line-height: 1.5em;
    margin: .19em .35em .19em .19em;
    max-width: 350px;
    padding: .65em 1.3em;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: auto;
    z-index: 1;
    &:hover {
        background-color: #373737;
        color: #f1f1f1;
        box-shadow: rgba(0 0 0 / 90%) 2px 5px 20px -4px, rgba(0 0 0 / 50%) 1px 2px 6px -2px;
    }
}

.mapsButtonsWrapper {
    display: flex;
    padding: 1px;
    position: relative;
}

.urlTabSection {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.test {
    color: lightgray;
    margin-right: 20px;
    font-size: 24px;
}

.divStyle {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.imgStyle {
    width: 60px;
    height: 60px;
    margin: 15px;
    cursor: pointer;
    @media (max-width: 768px) {
        width: 70px;
        height: 70px;
    }
}

.kitStyleDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        padding: 10px;
    }
}

.kitImage{
    width: 95%;
    background: transparent;
    border-radius: 16px;
    margin: 10px;
    @media (max-width: 768px) {
        margin: 5px;
    }
}

.kitSpan {
    font-size: 18px;
    background: transparent;
    border-radius: 16px;
    margin: 10px 10px 10px;
    text-align: center;
    color: lightgray;
    width: 95%;
    @media (max-width: 768px) {
        margin: 5px 5px 0;
        font-size: 14px;
    }
}

.teamFormSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #1C1C1E;
    border-radius: 16px;
    margin: 10px 10px 20px;
    @media (max-width: 768px) {
        margin: 10px;
    }
}

.formTitleDiv {
    margin: 10px;
}

.formTitleSpan {
    color: lightgray;
    font-size: 18px;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.formScoresDiv {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 768px) {
        margin: 5px;
    }
}

.formScoresLoseSpan {
    background: darkred;
    padding: 5px 10px;
    color: lightgray;
    border-radius: 16px;
    width: 100%;
    height: auto;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 12px;
        padding: 4px 5px;
    }
}

.formScoresWinSpan {
    background: darkgreen;
    padding: 5px 10px;
    color: lightgray;
    border-radius: 16px;
    width: 100%;
    height: auto;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 12px;
        padding: 4px 5px;
    }
}

.formScoresDrawSpan {
    background: darkgoldenrod;
    padding: 5px 10px;
    color: lightgray;
    border-radius: 16px;
    width: 100%;
    height: auto;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 12px;
        padding: 4px 5px;
    }
}

.lastWinMatch {
    background: darkgreen;
    width: 50px;
    height: 3px;
    border-radius: 16px;
    margin-top: 3px;
    @media (max-width: 768px) {
        width: 35px;
        height: 2px;
        margin-top: 2px;
    }
}

.lastDrawMatch {
    background: darkgoldenrod;
    width: 50px;
    height: 3px;
    border-radius: 16px;
    margin-top: 3px;
    @media (max-width: 768px) {
        width: 35px;
        height: 2px;
        margin-top: 2px;
    }
}

.lastLostMatch {
    background: darkred;
    width: 50px;
    height: 3px;
    border-radius: 16px;
    margin-top: 3px;
    @media (max-width: 768px) {
        width: 35px;
        height: 2px;
        margin-top: 2px;
    }
}

.lastGamesDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: auto;
    @media (max-width: 768px) {
        width: 62px;
    }
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    font-size: 2rem;
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.starDiv {
    display: flex;
    justify-content: space-between;
}

.starSection {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background: #1C1C1E;
    border-radius: 16px;
    @media (max-width: 768px) {
        padding: 15px;
    }
}

.starSpan {
    color: lightgray;
    font-size: 18px;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.starDetailSpan {
    color: gray;
    font-size: 16px;
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.starLabel {
    margin-bottom: 5px;
    margin-top: 5px;
}

.submitButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    margin: 20px;
    @media (max-width: 768px) {
        margin: 10px;
    }
}

.starsErrorSpan {
    color: red;
    font-size: 18px;
    display: flex;
    align-items: center;
    align-content: center;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.starInfoSpan {
    color: lightgray;
    font-size: 18px;
    display: flex;
    align-items: center;
    align-content: center;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.starsInfoIcon {
    color: lightgray;
    margin-right: 10px;
}

.errorIcon {
    color: red;
    margin-right: 10px;
}

.notesSection {
    padding: 20px;
    margin: 20px;
    background: #1C1C1E;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
        padding: 15px;
    }
}

.noteWriterSpan {
    color: lightgray;
    font-size: 18px;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.inputDesign {
    border-radius: 16px;
    margin-top: 5px;
    width: 100%;
    border: none;
    background-color: #424242;
    color: #ffffff;
    height: 33px;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.noteInputDesign {
    border-radius: 16px;
    margin-top: 5px;
    width: 100%;
    border: none;
    background-color: #252525;
    color: #ffffff;
    height: auto;
    min-height: 100px;
    padding: 10px;
    font-size: 18px;
    overflow-y: auto;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.labelStyle {
    color: lightgray;
    font-size: 18px;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.momDetailsDiv {
    display: flex;
    flex-direction: column;
}

.momNameSpan {
    font-size: 18px;
    color: lightgray;
    font-weight: bolder;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.momSmallSpan {
    font-size: 14px;
    color: gray;
    font-weight: bolder;
    @media (max-width: 768px) {
        font-size: 10px;
    }
}

.momSection {
    display: flex;
    padding: 10px;
    background: #1C1C1E;
    border-radius: 16px;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.momSectionCursor {
    display: flex;
    padding: 10px;
    background: #1C1C1E;
    border-radius: 16px;
    align-items: center;
    align-content: center;
    margin: 20px 10px;
    cursor: pointer;
}

.starIcon {
    color: white;
    margin: 10px;
    font-size: 30px;
}

.ratingStarDetailsDiv {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.ratingStarSpanDiv {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    color: lightgray;
    padding: 3px;
    margin-left: 15px;
    margin-right: 15px;
    @media (max-width: 768px) {
        font-size: 20px;
        padding: 0;
    }
}

.ratingStarIconDiv {
    color: lightgray;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.defaultSection {
    background-color: #1C1C1E;
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    @media (max-width: 768px) {
        padding: 10px;
    }
}

.defaultMargin {
    margin-left: 20px;
    margin-right: 20px;
}

.facilityRating {
    font-size: 25px;
    font-weight: bold;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.facilityRatingName {
    font-size: 15px;
    @media (max-width: 768px) {
        font-size: 13px;
    }
}

.facilityRatingDiv {
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    justify-items: center;
    justify-content: center;
    height: 70px;
    text-align: center;
    align-content: center;
    color: lightgray;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
        margin: 5px;
        height: 60px;
    }
}

.facilityRatingStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    justify-content: space-evenly;
}