.buttonDivStyle {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}

.iconStyle {
    background-color: #242424;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: lightgray;
    cursor: pointer;
}

.iconStyle:hover {
    background-color: rgb(50, 50, 50);
    transform: scale(1.15);
}

.disabledButtonStyle:hover {
    transform: scale(1.15);
    background-color: rgb(50, 50, 50);
}

.filteredIconStyle {
    background-color: darkred;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: lightgray;
    cursor: pointer;
}

.filteredIconStyle:hover {
    background-color: red;
    transform: scale(1.15);
}