.grid {
    margin-left: 14%;
    margin-right: 14%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
        margin-left: 13%;
        margin-right: 13%;
        width: 95%;
    }
    @media screen and (min-width: 769px) and (max-width: 1700px) {
        margin-left: 13%;
        margin-right: 13%;
        width: 72%;
    }
}

.chart {
    background-color: rgb(36, 36, 36);
}

.titleStyle {
    background-color: rgb(36, 36, 36);
    color: lightgray;
    text-align: center;
    margin-top: 20px;
    @media screen and (max-width: 768px) {
        font-size: 25px;
    }
}

.selectionGrid {
    background-color: rgb(36, 36, 36);
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.selectionInsideGrid {
    background-color: rgb(36, 36, 36);
    color: lightgray;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.colorStyle {
    background-color: rgb(36, 36, 36);
    color: lightgray;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.cardContentInsideStyle {
    display: flex;
    background-color: #242424;

    @media screen and (max-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 769px) and (max-width: 1700px) {
        display: block;
    }
}
