.fontStyle {
    color: lightgray;
    font-size: 18px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.playerNameTitle {
    width: 100%;
    text-align: center;
    background: #323232;
    color: lightgray;
    padding-top: 10px;
}

.generalInfoDiv {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px 60px 20px 70px;
    @media (max-width: 767px) {
        margin: 20px 60px 20px 60px;
    }
}

.generalPointsDiv {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px 70px;
    @media (max-width: 767px) {
        margin: 20px 60px;
    }
}

.generalInfoInsideDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.iconStyle {
    color: white;
}

.belowIconSpan {
    color: lightgray;
    font-size: 18px;
    margin-top: 5px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.captainDiv {
    margin: 10px;
    @media (max-width: 767px) {
        margin: 0;
    }
}

.matchesDiv {
    margin-top: -5px;
    margin-bottom: 20px;
    @media (max-width: 767px) {
        margin-top: -15px;
        margin-right: -10px;
        margin-left: -10px;
    }
}