.fontStyle {
    color: lightgray;
    font-size: 18px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.playerNameTitle {
    width: 100%;
    text-align: center;
    background: #323232;
    color: lightgray;
    padding-top: 10px;
}

.generalInfoDiv {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px 60px 20px 70px;
    @media (max-width: 767px) {
        margin: 20px 60px 20px 60px;
    }
}

.generalPointsDiv {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px 70px;
    @media (max-width: 767px) {
        margin: 20px 60px;
    }
}

.generalInfoInsideDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.yellowAndRedCardsDiv {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px 120px;
    @media (max-width: 767px) {
        margin: 20px 100px;
    }
}

.iconStyle {
    color: white;
}

.belowIconSpan {
    color: lightgray;
    font-size: 18px;
    margin-top: 5px;
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.captainDiv {
    margin: 0;
    @media (max-width: 767px) {
        margin: 0;
    }
}

.matchesDiv {
    margin: 20px;
}

.yellowCardStyle {
    background: yellow;
    height: 30px;
    width: 20px;
    border-radius: 2px;
    margin-bottom: 10px;
    @media (max-width: 767px) {
        height: 25px;
        width: 15px;
    }
}

.redCardStyle {
    background: red;
    height: 30px;
    width: 20px;
    border-radius: 2px;
    margin-bottom: 10px;
    @media (max-width: 767px) {
        height: 25px;
        width: 15px;
    }
}

.bootStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.collectionNameStyle {
    font-size: 40px;
    color: lightgray;
    margin-top: -15px;
    @media (max-width: 767px) {
        font-size: 25px;
    }
}

.mobileClass {
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}
