.divStyle {
    font-size: 40px;
    color: #007AFF;
    padding: 0 10px 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 14;
    background-color: black;
    @media (max-width: 768px) {
        font-size: 34px;
        justify-content: left;
    }
}

.spanStyle {
    text-align: center;
    font-size: 17px;
    @media (max-width: 768px) {
        text-align: left;
    }
}
