.divStyle {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.spanStyle {
    color: #007AFF;
}

.morePageBox {
    background-color: #1C1C1E;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    padding: 12px 20px;
    height: auto;
    margin-bottom: 20px;
}

.desktopStyle {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
}

.desktopSpanStyle {
    color: lightgrey;
    font-size: 20px;
    @media (max-width: 768px) {

    }
}

.mobileStyle {
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    align-items: center;
    width: 100%;
}