.yellowCardStyle {
    background: yellow;
    height: 20px;
    width: 12px;
    border-radius: 2px;
    margin-left: 10px;
    @media (max-width: 767px) {
        height: 15px;
        width: 9px;
    }
}

.redCardStyle {
    background: red;
    height: 20px;
    width: 12px;
    border-radius: 2px;
    margin-left: 10px;
    @media (max-width: 767px) {
        height: 15px;
        width: 9px;
    }
}