.cardAlign {
}

.iconDivStyle {
    width: 100%;
    margin-right: 0;
    height: auto;
    background-color: transparent;
    text-align: center;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1500px) {
        width: 100%;
        margin-right: 0;
        height: auto;
    }
}

.iconStyle {
    background: transparent;
    color: white;
    font-size: 270px;
    width: 200px;
    height: 200px;
    margin-top: 0;
    @media screen and (max-width: 1500px) {
        font-size: 200px;
        width: 200px;
        height: 200px;
        margin-top: 0;
    }
}
