.formStyle {
    height: 100%;
    width: 100%;
}

.buttonStyle {
    background-color: darkred;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.buttonDivStyle {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    @media (max-width: 900px) {
        left: 0;
        position: absolute;
        bottom: 82px;
        background-color: black;
        width: 100%;
        padding: 20px;
        height: auto;
        justify-content: space-evenly;
    }
}

.customCheckbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    margin-bottom: 10px;
}

.customCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border-radius: 4px;
}

.customCheckbox input:checked ~ .checkmark {
    background-color: darkred;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.customCheckbox input:checked ~ .checkmark:after {
    display: block;
}

.customCheckbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.formAlign {
    display: block;
    @media (max-width: 900px) {
        margin-top: 20px;
    }
}

.title {
    margin-bottom: 20px;
}

.filterPartStyle {
    display: block;
    margin-bottom: 20px;
    background-color: #1C1C1E;
    border-radius: 12px;
    padding: 20px;
    color: lightgray;
    width: 100%;
}

.iconStyle {
    background-color: darkred;
    color: #ffffff;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.expandIconStyle {
    color: darkred;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-bottom: 50px;
}

.boxStyles {
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.emptySpace {
    width: 50px;
    @media (max-width: 768px) {
        width: 0;
    }
}

.emptySpaceButton {
    width: 50px;
    height: 0;
    @media (max-width: 768px) {
        width: 0;
        height: 20px;
    }
}