.generalStyle {
    color: lightgray;
    font-family: Arial, sans-serif;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    align-content: center;
    @media (max-width: 767px) {
        width: 97%;
        height: auto;
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        width: 80%;
        height: auto;
    }
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    max-height: 95%;
    background-color: #1f1f1f;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: auto;
    z-index: 11;

}

.title {
    background-color: #1f1f1f;
    margin: 10px 10px 30px;
}

.buttonDivStyle {
    background: #1f1f1f;
    text-align: center;
    margin: 20px;
}

.pitchStyle {
    @media (max-width: 767px) {
    }
}