.status {
    font-size: 16px;
    color: dimgray;
    @media (max-width: 768px) {
        font-size: 15px;
    }
}

.isDetailsStatus {
    font-size: 25px;
    color: dimgray;
    @media (max-width: 768px) {
        font-size: 20px;
    }
}
