.grid {
    list-style-type: none;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 14%;
    margin-right: 14%;
    align-items: center;
    align-content: center;
    @media (max-width: 768px) {
        justify-content: center;
    }
}