.rowStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.columnStyle {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nikeImageStyle {
    width: 270px;
    height: 100px;
    background: transparent;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
        width: 121px;
        height: 45px;
    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {
        width: 150px;
        height: 55px;
    }
}

.nikeCollectionImageStyle {
    width: 68px;
    height: 25px;
    background: transparent;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {

    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {

    }
}

.adidasCollectionImageStyle {
    width: 43px;
    height: 25px;
    background: transparent;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {


    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {

    }
}

.adidasImageStyle {
    width: 170px;
    height: 100px;
    background: transparent;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
        width: 93px;
        height: 55px;

    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {
        width: 110px;
        height: 65px;
    }
}

.numbersStyle {
    font-size: 60px;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
        font-size: 40px;
    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {
        font-size: 50px;
    }
}

.wordsStyle {
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {
        font-size: 30px;
    }
}

.collectionNameStyle {
    font-size: 50px;
    margin-top: -25px;
    @media screen and (max-width: 768px) {
        font-size: 30px;
    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {
        font-size: 40px;
    }
}

.collectionSplitter {
    margin-bottom: 50px;
}

.collectionNumbersStyle {
    font-size: 24px;
    @media screen and (max-width: 768px) {
        font-size: 17px;
    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {

    }
}

.collectionWordsStyle {
    font-size: 24px;
    @media screen and (max-width: 768px) {
        font-size: 17px;
    }
    @media screen and (min-width: 769px) and (max-width: 1100px) {

    }
}
