.imageStyle {
    width: auto;
    max-height: 125px;
    background: transparent;
    margin-bottom: 20px;

    @media screen and (max-width: 900px) {
        width: auto;
        max-height: 75px;
    }
}

.collectionSplitter {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
