.nikeImageStyle {
    width: 270px;
    height: 100px;
    background: transparent;
    margin-bottom: 20px;
    @media screen and (max-width: 900px) {
        width: 175px;
        height: 65px;
    }
}

.adidasImageStyle {
    width: 170px;
    height: 100px;
    background: transparent;
    margin-bottom: 20px;
    @media screen and (max-width: 900px) {
        width: 119px;
        height: 70px;
    }
}

.collectionSplitter {
    margin-top: 20px;
}
