.userButtonLinkStyle {
    &:hover {
        transition: all 0.2s ease-in-out;
        color: lightgray;
    }
}

.imgStyle {
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}

.phoenixImgStyle {
    width: 35px;
    height: 35px;
    background-color: transparent;
    cursor: pointer;
}

.phoenixDivStyle {
    background-color: black;
    padding: 10px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktopMenuItems {
    background-color: transparent;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

.mobileMenu {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.mobileMenuItems {
    background-color: transparent;
    padding: 20px;
    cursor: pointer;
    border-radius: 25px;
    color: black;
    font-weight: bold;
}

.mobileMenuEmailItem {
    background-color: transparent;
    padding: 0 20px 10px;
    margin-top: -15px;
    border-radius: 25px;
    color: #222222;
    font-size: 14px;
}

.drawerRoutesSpan {
    color: lightgray;
    font-size: 18px;
    @media screen and (max-width: 768px) {
        font-size: 17px;
    }
}

.drawerRoutesDiv {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 20px;
    text-align: left;
}

.closeIconDiv {
    justify-content: left;
    width: 100%;
    display: flex;
    margin: 30px 10px -20px;
}

.mobileUserDiv {
    display: flex;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 20px;
    align-items: center;
    align-content: center;
    width: 100%;
}

.mobileUserDetailsDiv {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.mobileUserNameSpan {
    color: lightgray;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 20px;
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

.mobileEmailSpan {
    color: gray;
    font-size: 16px;
    margin-top: 3px;
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }
}

.miniTitle {
    color: gray;
    font-size: 16px;
    margin-bottom: 5px;
    @media screen and (max-width: 768px) {
        font-size: 15px;
    }
}

.mobileUserSection {
    background-color: black;
    display: flex;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    align-items: center;
    align-content: center;
}

.morePageBox {
    background-color: #1C1C1E;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    padding: 12px 20px;
    height: auto;
}
