.userButtonLinkStyle {
    &:hover {
        transition: all 0.2s ease-in-out;
        color: lightgray;
    }
}

.imgStyle {
    width: 50px;
    height: 50px;
    background-color: darkred;
    cursor: pointer;
}

.desktopMenuItems {
    background-color: darkred;
    padding: 20px;
    cursor: pointer;
}

.mobileMenu {
    background-color: darkred;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.mobileMenuItems {
    background-color: darkred;
    padding: 20px;
    cursor: pointer;
    border-radius: 25px;
    color: black;
}

.drawerRoutesSpan {
    color: black;
    margin: 10px;
    padding: 10px;
}

.drawerRoutesDiv {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 20px;
    text-align: left;
}

.closeIconDiv {
    justify-content: right;
    width: 100%;
    display: flex;
}

.mobileUserDiv {
    display: flex;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 20px;
    align-items: center;
    align-content: center;
    width: 100%;
}

.mobileUserDetailsDiv {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.mobileUserNameSpan {
    font-size: 20px;
    color: darkred;
    margin-left: 5px;
    font-weight: bolder;
}

.mobileEmailSpan {
    font-size: 14px;
    color: darkred;
    margin-left: 5px;
    font-weight: bolder;
}

.mobileUserSection {
    background-color: black;
    display: flex;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
    align-items: center;
    align-content: center;
}