.navbar-background {
    background-color: red;
}

.navlink {
    background-color: #242424;
}

.navbarOpen {
    display: none;

    @media (max-width: 768px) {
        display: block;
        align-items: center;
        position: absolute;
        top: 100%;
        font-size: 20px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

.navCloseMenuStyle {
    display: flex;
    align-items: center;
    margin-right: -24px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navOpenButtonStyle {
    display: flex;
    align-items: center;
    margin-right: 24px;

    @media screen and (max-width: 768px) {
        display: block;
        position: absolute;
        top: 400%;
        font-size: 20px;
        width: 100%;
        height: 100%;
    }
}

.navCloseButtonStyle {
    display: flex;
    align-items: center;
    margin-right: 24px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navOpenButtonLinkStyle {
    background: darkred;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 24px;

    &:hover {
        transition: all 0.2s ease-in-out;
        color: lightgray;
    }

    @media screen and (max-width: 768px) {
        color: black;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 100%;
        cursor: pointer;
        margin-left: 0;
        background: darkred;
    }
}

.userButtonLinkStyle {
    &:hover {
        transition: all 0.2s ease-in-out;
        color: lightgray;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navCloseButtonLinkStyle {
    background: darkred;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 24px;

    &:hover {
        transition: all 0.2s ease-in-out;
        color: lightgray;
    }
}

.userButtonStyle {
    &:hover {
        transition: all 0.2s ease-in-out;
        color: lightgray;
    }
    @media screen and (max-width: 768px) {
        margin-right: 50px;
    }
}