.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 25px;
  max-width: 500px;
  min-width: 572px;
  cursor: pointer;
  width: calc(33.33% - 20px);
  margin: 10px;
  @media (max-width: 768px) {
    max-width: 100%;
    min-width: 100px;
    width: 100%;
    margin-bottom: -5px;
  }
}

.scoreboard:nth-child(3n + 1):last-child {
  margin-right: auto;
}

.score {
  text-align: center;
}

.scoreboard:hover {
  transform: scale(1.05);
}