.title {
    background-color: #1f1f1f;
    margin: 10px 10px 30px;
}

.buttonDivStyle {
    background: #1f1f1f;
    text-align: center;
    margin: 20px;
}

.sectionStyle {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border-width: 50px;
    border-color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 100px;
    margin-bottom: 30px;
    background-color: #1f1f1f;
}

.divStyle {
    display: flex;
    justify-content: space-between;
    background: #1f1f1f;
    height: auto;
}

.imgStyle {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0);
    margin: 20px;
    cursor: pointer;
    @media (max-width: 768px) {
        width: 70px;
        height: 70px;
    }
}