.grid {
  list-style-type: none;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-left: 14%;
  margin-right: 14%;
  @media (max-width: 767px) {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.title {
  color: lightgray;
}
