.grid {
  list-style-type: none;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-left: 14%;
  margin-right: 14%;
  @media (max-width: 767px) {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.title {
  color: lightgray;
}

.buttonDivStyle {
  display: flex;
  margin-top: 100px;
  width: 100%;
  justify-content: center;
}

.iconStyle {
  background-color: #242424;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: lightgray;
  cursor: pointer;
}

.iconStyle:hover {
  background-color: rgb(50, 50, 50);
  transform: scale(1.15);
}

.disabledButtonStyle:hover {
  transform: scale(1.15);
  background-color: rgb(50, 50, 50);
}

.filteredIconStyle {
  background-color: darkred;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: lightgray;
  cursor: pointer;
}

.filteredIconStyle:hover {
  background-color: red;
  transform: scale(1.15);
}