@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pitch .teams {

}

.team {

}

.goalkeeper {

}

.lines {


}

.line {

}

.player-view {

}

.player {

}

.number {
  font-weight: bolder;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.name {
  margin: -15px;
  font-size: 18px;
  font-weight: bolder;
  @media (max-width: 767px) {
    font-size: 16px;
    margin: -12px;
  }
}